# Ігноруємо файли налаштувань для IDE
*.xcuserdata
*.xcworkspace

# Ігноруємо вихідні файли збірки
build/
DerivedData/
TestGitHub/TestDeleteView.swift

# Ігноруємо Pod-файли
Pods/

# Ігноруємо налаштування конфігурацій та ключі
Config.swift
Secrets.plist
*.env

# Інші файли, які можуть містити чутливі дані
*.key
*.cer
*.p12
